.title__main {
  margin-top: 60px;
  display: flex;
}
.title {
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}
.title__discBox {
  width: 288px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 16px 20px 16px 20px;

  border-radius: 5px;
  background: rgba(188, 236, 48, 1);
  z-index: 10;
}
.title__discription {
  color: rgba(32, 32, 32, 1);
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.title__svgBox {
  position: absolute;
  left: 117.06px;
  top: 85px;
}

@media (max-width: 768px) {
  .title {
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
  }
  .title__discBox {
    display: none;
  }
}
