.wrapper {
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  background-color: #ffffff;
}
.container {
  min-height: 100dvh;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  padding-left: 140px; 
  padding-right: 140px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-direction: column;
}
.main__padding {
  padding-top: 60px;
}
