.profile {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.profile__box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 33px;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
}

.profile__title {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.profile__data {
  display: flex;
  flex-direction: column;
}
.profile__name {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.profile__login {
  margin-top: 30px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.profile__but {
  width: 192px;
  height: 52px;
  margin-top: 44px;
  padding: 16px 26px 16px 26px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile__but:hover {
  border: 1px solid rgba(0, 0, 0, 1);
  background: rgba(247, 247, 247, 1);
}
.profile__but:active {
  border: 1px solid rgba(0, 0, 0, 1);
  background: rgba(233, 236, 237, 1);
}
.profile__link {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.myCourses {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.myCourses__title {
  margin-top: 60px;
  margin-bottom: none;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 468px) {
  .profile__box {
    background: #fff;
    border-radius: 30px;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 30px;
    display: flex;
    box-shadow: 0 4px 67px -12px #00000021;
  }
  .profile__boxImg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .profile__img {
    height: 141px;
    width: 141px;
  }
  .profile__data {
    width: 100%;
    display: flex;
  }
  .profil__name {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
  }
  .profile__login {
    margin-top: 20px;
  }
  .profile__butBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .profile__but {
    width: 283px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 46px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
  }
  .myCourses__title {
    margin-top: 24px;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
  }
}
