.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 40px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48;
  border-radius: 30px;
  /* Shadow */
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  position: relative;
}

.header_logo {
  width: 220px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: 500;
}
.auth__Box {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.auth__inputBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth__input {
  width: 280px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10;
  padding: 16px 18px 16px 18px;
  box-sizing: border-box;
  border: 1px solid rgba(208, 206, 206, 1);
  border-radius: 8px;
  color: rgba(208, 206, 206, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
}
.auth__butBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth__butlogin {
  width: 280px;
  height: 52px;
  padding: 16px 26px 16px 26px;
  border: none;
  border-radius: 46px;
  background: rgba(188, 236, 48, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
}
.auth__butregister {
  width: 280px;
  height: 52px;
  gap: 10;
  padding: 16px 26px 16px 26px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 46px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
}
.inputError {
  border: 1px solid rgba(219, 0, 48, 1) !important;
}

.errorBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorText {
  color: rgba(219, 0, 48, 1);
  font-size: 14px;
}
