.subtitle {
  /* Онлайн-тренировки для занятий дома */
  margin-top: 2px;
  height: 20px;
  display: flex;
  font-display: row;
}
.subtitle__description {
  color: rgba(0, 0, 0, 1);
  opacity: 0.5;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 768px) {
  .subtitle {
    display: none;
  }
}
