.courses__cardLink {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.courses__box {
  margin-bottom: 170px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.courses__card {
  width: 360px;
  border-radius: 30px;
  /* Shadow */
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
}
.courses__imgBox {
  position: relative;
}
.courses__imageSvg {
  position: absolute;
  top: 20px;
  right: 20px;
}
.courses__descrip {
  padding: 24px 30px 15px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.courses__title {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.courses__periodBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.courses__period {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}
.courses__days {
  padding: 10px;
  border-radius: 50px;
  background: rgba(247, 247, 247, 1);
  display: flex;
  align-items: center;
  gap: 6px;
}
.courses__minDay {
  padding: 10px;
  border-radius: 50px;
  background: rgba(247, 247, 247, 1);
  display: flex;
  align-items: center;
  gap: 6px;
}
.courses__complexity {
  padding: 10px;
  border-radius: 50px;
  background: rgba(247, 247, 247, 1);
  display: flex;
  align-items: center;
  gap: 6px;
}
