.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 1000;
}

.popup {
  position: absolute;
  top: 124px;
  right: 140px;
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  padding: 30px;
  width: 266px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 34px;
  z-index: 1001;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.loginName {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: left;
}

.userEmail {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuItem__profil {
  width: 206px;
  height: 52px;
  padding: 16px 26px 16px 26px;
  border: none;
  border-radius: 46px;
  background: rgba(188, 236, 48, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
}

.menuItem__exit {
  width: 206px;
  height: 52px;
  padding: 16px 26px 16px 26px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 1);
  background: none;
  border-radius: 46px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
}

.menuItem:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.logoutButton {
  color: rgba(219, 0, 48, 1);
  font-weight: 500;
}

.logoutButton:hover {
  background-color: rgba(219, 0, 48, 0.08);
  color: rgba(219, 0, 48, 0.9);
}
