.main__box {
  height: 310px;
  padding: 40px 0 0 40px;
  border-radius: 30px;
  background: rgba(255, 199, 0, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.main__title {
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  z-index: 2;
}
.main__image {
  display: inline-block;
  position: absolute;
  object-fit: contain;
  top: -230px;
  right: -205px;
  margin-left: auto;
  z-index: 1;
}
