.TestNav {
  width: 100px;
  height: 130px;
  position: absolute;
  left: 0%;
  top: 81px;

  border-radius: 10px;
  background: rgb(100, 100, 100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.TestNav__link {
  text-decoration: none; /* Убирает подчеркивание */
  color: white; /* Наследует цвет от родителя */
}
.TestNav__li {
  list-style: none; /* Убирает маркеры/нумерацию */
  margin: 0;
  padding: 0;
}
