.TestNav {
  width: 150px;
  height: 200px;
  position: absolute;
  left: 0%;
  top: 0%;

  border-radius: 10px;
  background: rgb(100, 100, 100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.TestNav__link {
  text-decoration: none; /* Убирает подчеркивание */
  color: white; /* Наследует цвет от родителя */
  font-size: 24px;
}
.TestNav__li {
  list-style: none; /* Убирает маркеры/нумерацию */
  margin: 0;
  padding: 0;
}
