.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  position: absolute;
  width: 426px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 34;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  z-index: 1001;
}

.Performance__title {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
}
